@model BookViewModel
<div class="card" style="width: 18rem;">
    <img src="@Model.CoverImageUrl" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <b class="card-text">@Model.Author</b>
        <p class="card-text">@Model.Description</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
<br />
